.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lawngreen;
    position: absolute;
    top: -2px;
    left: 28px;
    border: 2px solid white;
}

.rightbarUsername{
    margin-left: 10px;
    font-weight: 500;
}

.rightbarTitle{
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: black;
}